---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '../../../components/Navbar.astro';
---

<head>
  <link rel="stylesheet" href="/css/bubbleHunter.css">
  <script defer is:inline src="/js/bubbleHunter.js"></script>
</head>


<Layout title="Portfolio Joris Villet projet bubble hunter">
  <Navbar />
  <button class="addBubble">add bubble</button>
</Layout>
