---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Project from '../layouts/Project.astro';
---

<Layout title="Portfolio Joris Villet">
	<main>
		<Navbar />

		<Project className="todolist" url="/projects/todolist">
			<h1>todolist</h1>
		</Project>

		<Project className="memory-game" url="/projects/memory-game">
			<h1>memory game</h1>
		</Project>

		<Project className="bubble-hunter" url="/projects/bubble-hunter">
			<h1>bubble hunter</h1>
		</Project>

		<Project className="todolist" url="/projects/calculatrice">
			<h1>calculatrice</h1>
		</Project>

		<Project className="pokemon" url="/projects/pokemon">
			<h1>pokemon</h1>
		</Project>

	</main>
</Layout>

<style>
</style>
